#CI for Product catalog Service

name: product-catalog-service-ci

on:
  pull_request:
    branches:
      - main

  push:
    branches:
      - main

jobs:
  build:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup golang 1.22
        uses: actions/setup-go@v4
        with:
          go-version: 1.22

      - name: Build
        run: go build -o product-catalog-service src/product-catalog/main.go

      - name: Run Tests
        run: go test ./src/product-catalog/...


  code-quality:
    name: Code Quality Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup golang 1.22
        uses: actions/setup-go@v4
        with:
          go-version: 1.22

      - name: Install golangci-lint
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.59.2

      - name: Run golangci-lint
        run: golangci-lint run ./src/product-catalog/...
        
  docker-build:
    name: Docker Build
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Docker
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: ./src/product-catalog
          file: Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/product-catalog-service:${{github.run_id}}

  UpdateK8:
    name: Update Kubernetes Deployment
    runs-on: ubuntu-latest
    needs: docker-build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Update K8s Deployment File
        run: |
          sed -i "s|image: .*|image: ${{ secrets.DOCKERHUB_USERNAME }}/product-catalog:${{github.run_id}}|" kubernetes/productcatalog/deploy.yaml

      - name: Commit and Push changes
        run: |
          git config --global user.name "adityadadial07"
          git config --global user.email "adityadadial@gmail.com"
          git add kubernetes/productcatalog/deploy.yaml
          git commit -m "CI: Update product-catalog-service image tag to ${{github.run_id}}"
          git push origin HEAD:main -f